<h1>New Facebook Forum Post</h1>
<form type="post" action="/facebook/topics/new"></form>

<label>Forum Topic:
  <input type="text" name="topic">
</label><br></br>

<label>Forum Post
  <textarea></textarea>
</label><br></br>

<input type="submit"><br>
